<%# Added on December 9th, 2019. %>
<% if notice %>
  <aside id="notice"><%= notice %></aside>
<% end %>

<h2>Your Pragmatic Cart</h2>
<ul>
  <% @cart.line_items.each do | item | %>
    <%# Added line to display quantity.  December 9th, 2019. %>
    <li><%= item.quantity %> &times; <%= item.product.title %></li>
  <% end %>
</ul>

<%# Added Empty cart button.  December 9th, 2019. %>
<%= button_to 'Empty cart', @cart, method: :delete, data: { confirm: 'Are you sure?' } %>

<%= link_to 'Edit', edit_cart_path(@cart) %> |
<%= link_to 'Back', carts_path %>
