<!DOCTYPE html>
<html>
  <head>
    <%# Changed title on December 8th, 2019 %>
    <title>Pragprog Books Online Store</title>
    <%# csrf tags help to prevent cross-site forgery %>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>
  <body>
    <header class="main">
      <%= image_tag 'logo.svg', alt: 'The Pragmatic Bookshelf' %>
      <%# This sets a title based off the page_title variable if set by the page.  Otherwise blank. %>
      <h1><%= @page_title %></h1>
    </header>
    <section class="content">
      <nav class="side_nav">
        <%# Added to display cart if there is a cart.  Avoid nil errors.  December 9th, 2019. %>
        <%# if @cart %>
          <div id="cart" class="carts">
            <%# Calls render_if method in application helper.  Determines whether to display cart partial or not.
            December 9th, 2019. %>
            <%= render_if @cart && @cart.line_items.any?, @cart %>
            <%#= render @cart %>
          </div>
        <%# end %>
        <ul>
          <li><a href="/"><%= t('.home') %></a></li>
          <li><a href="/questions"><%= t('.questions') %>></a></li>
          <li><a href="/news"><%= t('.news') %>></a></li>
          <li><a href="/contact"><%= t('.contact') %>></a></li>
        </ul>

        <%# This is an administrative sidemenu.  December 12th, 2019. %>
        <% if session[:user_id] %>
          <nav class="logged_in_nav">
            <ul>
              <li><%= link_to 'Orders', orders_path %></li>
              <li><%= link_to 'Products', products_path %></li>
              <li><%= link_to 'Users', users_path %></li>
              <li><%= link_to 'Logout', logout_path, method: :delete %></li>
            </ul>
          </nav>
        <% end %>

      </nav>
      <%# Added main with class to associate controllers with stylesheets.  December 7th, 2019 %>
      <main class='<%= controller.controller_name %>'>

        <%= yield %>

      </main>

    </section>


  </body>
</html>
